/* Night mode #3 - Add Dark/Light Mode */
:root {
    --primary-color: #7d7d7d;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fdfdfd;
    --search-color: #dedede;
    --heading-color: #292922;
    --accbg-color: #eee;
    --link-blue: blue;
    --mark_highlight: #ffc83d;
    --searchbar: #eee;
}
/* Night mode #3 - Add Dark/Light Mode */
[data-theme="dark"] {
    --primary-color: #9a97f3;
    /*  color: var(--primary-color); */
    --secondary-color: #818cab;
    /*  color: var(--secondary-color); */
    --font-color: #e1e1ff;
    /*  color: var(--font-color); */
    --bg-color: #161625;
    /*  background-color: var(--bg-color); */
    --search-color: #fff;
    --heading-color: #818cab;
    /*  color: var(--heading-color); */
    --accbg-color: #3a3955;
    --link-blue: #fff;
    --mark_highlight: #818cab;
    --searchbar: #818cab;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    margin: 0;
    padding: 1vh 5vw;
    text-shadow: 0 0 0 transparent;
    margin-bottom: 5vh;
}

body {
    /*     font-family: "Verdana"; */
    font-family: inherit;
    color: var(--font-color);
    /* Night mode #3 - Add Dark/Light Mode */
    background-color: var(--bg-color);
    /* Night mode #3 - Add Dark/Light Mode */
    margin-bottom: 5vh;
    font-family: sans-serif;
}

body p {
    line-height: 28px;
    letter-spacing: -0.0123rem;
    word-spacing: 0.0123rem;
    margin: 0.5em 0 0.5em;
}
/* Night mode #3 - Add Dark/Light Mode */
body a,
body a:link,
body a:visited {
    /* 	color: grey; */
    color: var(--link-blue);
}
/* Night mode #3 - Add Dark/Light Mode */
body a:hover,
body a:active {
    color: var(--secondary-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    position: relative;
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*     font-family: "Roboto", sans-serif; */
    font-family: inherit;
}

nav {
    padding: 0 1.5em;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li {
    margin: 0 5px;
    list-style: none;
    flex-basis: 5%;
}

li a,
li a:link,
li a:visited {
    display: block;
    text-decoration: none;
    font-size: 1.25em;
    /*     font-family: "Roboto", sans-serif; */
    font-family: inherit;
    /* 	color: grey; */
    /* Night mode #3 - Add Dark/Light Mode */
    color: var(--font-color);
    /* Night mode #3 - Add Dark/Light Mode */
}
li a:hover,
li a:active {
    box-shadow: 0 1px;
}
/* Push flex item to right */
.push {
    margin-left: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    width: 100%;
}
#searchbar > input {
    background-color: var(--searchbar);
}
#searchfield {
    flex-basis: 100%;
    font-size: 20px;
    /*     font-family: "Arial"; */
    font-family: inherit;
    border-style: solid none solid solid var(--searchbar);
    border-radius: 60px 0 0 60px;
    margin-left: 1em;
    padding-left: 1em;
}

#searchfield:focus {
    outline: none;
}

#searchbtn {
    font-size: 2em;
    border-style: solid solid solid none var(--searchbar);
    border-radius: 0 60px 60px 0;
    margin-right: 1em;
    width: 55px;
    cursor: pointer;
    background: transparent;
    transition: all 0.13s ease;
}
/* Night mode #3 - Add Dark/Light Mode */
#searchbtn:hover {
    /* 	background-color: #DEDEDE; */
    background-color: var(--search-color);
}

#searchbtn:focus {
    outline: none;
}

#searchmicrocopy {
    margin: -0.5em 1.5em 0 1.5em;
}

/* Night mode #3 - Add Dark/Light Mode */
#searchmicrocopy p {
    /* 	color: grey; */
    color: var(--primary-color);
}

mark {
    margin: 0;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    background: var(--mark_highlight);
}
/* use or remove this empty class */
/* .heading {
	background-color: ;
} */
.drugname {
    font-size: 2em;
    padding: 1vh 0 0;
}

.label {
    margin-top: 1.5em;
}

/* Night mode #3 - Add Dark/Light Mode */
.accordion {
    margin: 1.5em 0;
    /* 	background-color: #eee; */
    background-color: var(--accbg-color);
    /*   	color: #444; */
    color: var(--font-color);
    padding: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.accordion:focus {
    outline: none;
}

/* Night mode #3 - Add Dark/Light Mode */
/* .active when clicked on, hover on mouse*/
.active,
.accordion:hover {
    /*   background-color: #ccc; */
    background-color: var(--primary-color);
    color: var(--accbg-color);
}

.panel {
    display: none;
}

.container {
    padding: 1.5em 1.5em 0 1.5em;
    max-width: 1000px;
    margin: 0 auto;
}
.cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.card {
    width: 20em;
    /* width can't be used with display;inline;*/
    border-style: none;
    display: inline;
    margin: 2em auto 0 auto;
    /* margin can't be used with display;inline;*/
}
/* Outbound links */
.outbound {
    /* 	color: blue; */
    color: var(--link-blue);
}

.center {
    text-align: center;
}
.icon {
    font-size: 2em;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    margin: 0 auto;
    max-width: 1000px;
}
.footer-elem {
    font-size: 1.25em;
    margin: 1.5em;
}
/* Night mode #3 - Add Dark/Light Mode */
footer a,
footer a:link,
footer a:visited {
    /* 	color: grey; */
    color: var(--primary-color);
}

/* Night mode #3 - Add Dark/Light Mode */
/* Terms of use with licensing info*/
#terms {
    font-size: 0.75em;
    /* 	color: grey; */
    color: var(--primary-color);
}
@media only screen and (min-width: 769px) {
    #searchfield {
        flex-basis: 50%;
    }
    #searchmicrocopy {
        text-align: center;
    }
    .cards {
        flex-direction: row;
    }
    body {
        padding: 0 4em;
    }
}

/* Night mode #3 - Add Dark/Light Mode */
.switch {
    display: flex;
}
/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
.theme-switch-wrapper em {
    margin: 0 10px;
    font-size: 10px;
    letter-spacing: 1px;
}
.theme-switch-wrapper .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 34px;
}
.theme-switch-wrapper .theme-switch input {
    display: none;
}
.theme-switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.theme-switch .slider::before {
    background-color: var(--bg-color);
    bottom: 1px;
    content: "";
    height: 18px;
    left: 1px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
}
.theme-switch input:checked + .slider {
    background-color: #66bb6a;
}
.theme-switch input:checked + .slider:before {
    transform: translateX(14px);
}
.theme-switch .slider.round {
    border-radius: 18px;
}
.theme-switch .slider.round:before {
    border-radius: 50%;
}

.nav_switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.switch,
.nav {
    padding: 0;
    vertical-align: middle;
    line-height: 1;
    height: 50px;
    width: auto;
}
.switch {
    flex: 1;
}
