body {
	font-family: "Verdana";
	background-color: #FDFDFD;
}

body a {
	color: grey;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

.content {
	flex: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

nav {
	padding: 0 1.5em;
}

nav ul {
	display: flex;
	flex-direction: row;
	padding: 0
}

nav ul li {
	margin: 0 5px;
	list-style: none;
	flex-basis: 5%;
}

li a {
	display: block;
	text-decoration: none;
	font-size: 1.25em;
	font-family: "Roboto", sans-serif;
	color: grey;
}



/* Push flex item to right */
.push {
	margin-left: auto
}

#searchbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50%;
	width: 100%;
}

#searchbar > input {
	background-color: white;
}


#searchfield {
	flex-basis: 100%;
	font-size: 20px;
	font-family: "Arial";
	border-style: solid none solid solid;
	border-radius: 60px 0 0 60px;
	margin-left: 1em;
	padding-left: 1em
}

#searchbtn {
	font-size: 2em;
	border-style: solid solid solid none;
	border-radius: 0 60px 60px 0;
	margin-right: 1em;
}

#searchbtn:hover{
	background-color: #DEDEDE;
}

#searchmicrocopy {
	margin: -0.5em 1.5em 0 1.5em;
}

#searchmicrocopy p {
	color: grey;
}

mark {
	padding: 0.3em 0.3em 0.3em 1em;
}

.heading {
	background-color: ;
}

.drugname {
	font-size: 2em;
}

.label {
	margin-top: 1.5em;
}

.accordion {
	margin: 1.5em 0;
	background-color: #eee;
  	color: #444;
  	padding: 1em;
  	border: none;
  	border-radius: 20px;
}

/* .active when clicked on, hover on mouse*/
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
	display: none;
}

.container {
	padding: 1.5em 1.5em 0 1.5em;
}

.cards {
	display: flex;
	flex-direction: column;
	margin-bottom: : 2em;
}

.card {
	width: 20em;
	border-style: none;
	display: inline;
	margin: 2em auto 0 auto;
}

/* Outbound links */
.outbound {
	color: blue;
}

.center {
	text-align: center
}

.icon {
	font-size: 2em;
}

footer {
	display: flex;
	flex-direction: column;
	padding: 0 1.5em;
	font-size: 0.75em;
}

footer a {
	color: grey;
}


#legal {
	font-size: 1.25em;
}


@media only screen and (min-width: 769px) {
	#searchfield {flex-basis: 50%}
	#searchmicrocopy {text-align: center;}
	.cards {flex-direction: row}
	body {padding: 0 4em;}
}