<!doctype html>
{% extends 'base.html' %}

{% block searchbar %}{% endblock %}

{% block content %}
<p>
	Muler does NOT provide prescribing or dispensing advice. 
</p>
<p>
	Muler is a concise pharmacological reference for students of healthcare professions. The BNF, Medscape, and MedicinesComplete are professional resources containing detailed, up-to-date information required for prescribing and dispensing&mdash;and you should totally use them! However, in my experience at least, they aren't the most useful for learning and consolidating pharmacology knowledge, especially when sometimes what you need is a quick reminder of how pilocarpine works.
</p>
<p>
	Rather than replacing existing educational resources, Muler is a handy little search engine that lets you quickly look up the pharmacodynamics and mechanism of action of 13,579 drugs. This information comes a dataset by DrugBank, and it is boiled down to the relevant bits: common indications, mechanism of action, and pharmacodynamics.
</p>
	Hopefully learning pharmacology will become a little less painful ♥
</p>
{% endblock %}