<!doctype html>
{% extends 'base.html' %}

{% block searchbar %}{{ super() }}{% endblock %}


{% block index %}
	<section class="cards">
		<div class="card">
			<p class="icon center">&#128218;</p>
			<header><h4 class="center">Quick pharmacology reference</h4></header>
			<p class="center">Takes you straight to the (mechanism of) action. Fuss-free and readable.</p>
		</div>
		<div class="card">
			<p class="icon center">&#128300;</p>
			<header><h4 class="center">More than 13,000 drugs indexed</h4></header>
			<p class="center">Sourced from <a href="https://go.drugbank.com/">DrugBank</a>, a leading bioinformatics and chemoinformatics database.</p>
		</div>
		<div class="card">
			<p class="icon center">&#128176;</p>
			<header><h4 class="center">Free to use, forever</h4></header>
			<p class="center">Save your money for all the textbooks, question banks, and equipment. This one's on the house.</p>
		</div>
	</section>
{% endblock %}





